.table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: arial;
    color: blue;    
}
#pieTexto{
    text-align: center;
    font-size: 12px;
}
#destacar{
    color: white;
    background-color: red;
}
th, td{
    padding: 8px 4px;
    border: 1px solid black;
    padding-block: 12px;
}
th{
    width: 170px;
}
#titulo{
    font-weight: bold;
    color: black;
    font-size: 22px;
}
#caption{
    color: black;
    font-size: 22px;
    font-weight: bold;
}